html{
  font-family: Verdana, sans-serif;
}

body{
  background-color: #000;
  text-align: center;
}

#header h1{
  font-weight: normal;
  font-size: 50px;
  color: #fff;
}

.heading-two{
  font-weight: 300;
  font-size: 42px;
  color: #fff;
}

.excursion-link{
  color: Aquamarine;
  font-size: 16px;
}

video{
  background-color: #000;
  border: none;
}

p{
  font-size: 21px;
  color: Gray;
}

#footer p{
  text-align: right;
}
